h1 {
    font-size: 32px;
}

.header {
    height: 40px;
}

.footer {
    height: 10px;
}

#nav
{
    margin-top: -13px;
}

#nav ul
{
    border-top: solid #ccc 33px;
}

.nav-links {
    padding-top: 0px;
    margin-top: -20px;
}

.breadcrumbs {
    padding-top: 0px;
    margin-top: -20px;
}

#container {
    top: 43px;
    bottom: 10px;
}

.home-section {
    width: 330px;
    height: 450px;
}

#proceed-div
{
    margin-left: 25px;
    margin-top: 10px;
}

#direction-arrow
{
    margin-top: -20px;
}

.contact-section {
    width: 330px;
    height: 450px;
}

.panel-wrapper {
    margin-top: -250px;
}

.panel {
    height: 450px;
    padding: 20px;
}

.panel-condensed, .screenshot-panel {
    width: 773px;
    height: 450px;
    padding: 20px;
}

.image-panel {
    width: 486px;
}

.hero-pic {
    height: 260px;
    width: 486px;
}

.sub-pic-left, .sub-pic-right {
    height: 179px;
    width: 234px;
}

.sub-pic-right {
    margin-left: 13px;
}

.large-pic {
    width: 773px;
    height: 450px;
}

.side-panel-top {
    width: 365px;
    height: 330px;
    margin-left: 29px;
}

.side-panel-bottom {
    width: 384px;
    height: 97px;
    margin-top: 15px;
}

.portfolio-link {
    height: 20px;
    width: 145px;
    font-size: 18px;
    margin-left: 105px;
    bottom: 190px;
}

.current-project {
    height: 20px;
    width: 140px;
    margin-left: 115px;
    margin-top: -20px;
    text-shadow: 0px 0px 18px #ffffff;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 22px;
}

.current-project:before {
    border-top: 50px solid transparent;
    border-bottom: 20px solid #FF7F00;
    border-left: 19px solid transparent;
    border-right: 0px solid #FF7F00;
    top: -50px;
    left: -19px;
}

.current-project:after {
    border-top: 20px solid #FF7F00;
    border-bottom: 50px solid transparent;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    top: 0;
    right: -19px;
}

.address-icon, .mail-icon, .phone-icon, .linkedin-icon {
    width: 60px;
    height: 60px;
    margin-left: 0px;
}

.mail-icon, .phone-icon {
    margin-top: 30px;
}

.project-link {
    width: 300px;
    margin-left: 7px;
}

