/********************************
    Author  :   Jimmy Cleveland
    Site    :   Portfolio
   ____________________________
    
    Colors{
        Orange  : #FF7F00;
        NavGray : #1D1D1D;
    }      
********************************/

html, body{
    margin: 0;
    padding: 0px;
    background-image: url('../images/grey_@2X.png');
    color: black;
    height: 100%;    
    font-family: 'Share Tech', sans-serif;
}
h1
{
    font-family: 'Share Tech', sans-serif;
    font-size: 36px;
    color: black;
    font-weight: normal;
    text-shadow: 1px 1px 1px #ffffff;
}
h2
{
    font-family: 'Share Tech', sans-serif;
    font-size: 26px;
    line-height: 16px;
    color: black;
    font-weight: normal;
    text-shadow: 1px 1px 1px #ffffff;
}
h4
{
    padding: 5px 15px 0 15px;
    margin: 0;
    line-height: 18px; 
    color: black; 
    text-shadow: 1px 1px 1px #dfdfdf; 
    font-family: 'Share Tech', sans-serif; 
    font-size: 18px;
    font-weight: normal;
}
p
{
    font-size: 18px;
    line-height: 22px;
}

.header, .footer
{
    background-color: #cccccc;
    height: 90px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 5;
}
.header
{
    width: 100%;
    border-bottom: 3px solid #FF7F00;
    top: 0;
}

.footer
{
    bottom: 0;
}

.clear
{
    clear: both; /* for drop-down menus */
}
.nav-container
{
    position: relative;
}
#nav
{
    font-family: 'Share Tech', sans-serif;
    font-size: 26px;
    padding-top: 20px;
    list-style-type: none;
}
    #nav li
    {
        display: inline;
        float: left;
        margin-left: 50px;
        cursor: pointer;
        color: #727272;
        position: relative;
        z-index: 999;
    }
    
    /* parent nav menu */
    #nav li a
    {
        text-decoration: none;
        color: #727272;
    }
    #nav li a:hover
    {
        color: white;
        text-shadow: 0 0 5px black;
    }
    #nav li a.active
    {
        color:  black;
    }
    #nav li a.active:hover
    {
        text-shadow: none;
    }

        /* drop-down menu */
        #nav ul
        {
            display: none;
            position: absolute;
            left: -15px;
            top: 0;
            padding: 0;
            list-style: none;
            background-color: #FF7F00;
            color: black;
            list-style: none;
            border-top: solid #ccc 44px;
            z-index: -2;
        }
        #nav ul li
        {
            width: 130px;
            float: left;
        }
        #nav ul a
        {
            display: block;
            padding: 5px;
            color: black;
            font-size: 18px;
            margin-left: -42px;
        }

.hover-menu
{
    
}
    .hover-menu li
    {
        display: list-item;
    }

.breadcrumbs 
{
    font-family: 'Share Tech', sans-serif;
    font-size: 26px;
    padding-top: 20px;
}
    .breadcrumbs li
    {
        list-style-type: none;
        display: inline;
    }
    .breadcrumbs li.home
    {
        cursor: pointer;
        display: inline;
    }
    .breadcrumbs a
    {
        text-decoration: none;
        color: #727272;
    }
        .breadcrumbs a:hover
        {
            color: white;
            text-shadow: 0 0 5px black;
        }

#container
{
    position: fixed;
    top: 93px;
    bottom: 90px;
    left: 0;
    right: 0;
    overflow-y: hidden;
    white-space: normal;

}

.panel-wrapper
{
    position: absolute;
    left: 0;
    top: 50%;
    height: 530px;
    width: 7200px;
    margin-top: -295px;
}

.home-section, .contact-section
{
    width: 390px;
    box-shadow: 0px 0px 15px 0px #444;
    background-color: rgba(0, 0, 0, .15);
    text-align: center;
}
.home-section
{
   float: left;
   height: 560px;
   position: relative;
   padding: 10px 25px;
}

.project-link
{
    float: left;
    height: 25px;
    width: 340px;
    padding: 5px;
    background-color: #4f4f4f;
    color: #f5f5f5;
    font-size: 20px;
    font-family: 'Share Tech', sans-serif;
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
}
    .project-link:hover
    {
        text-shadow: 0 0 5px #FF7F00;
        box-shadow: inset 2px 2px 1px black;
        background-color: #222222;
    }

#proceed-div
{
   float: left; 
   margin-left: 60px; 
   clear: both; 
   margin-top: 40px; 
}

#proceed-text
{
    font-size: 20px;
}

.contact-section
{
   height: 530px;
   float: right;
   padding: 30px 25px;
   margin-left:  400px;
   color: black;
}

.portfolio-link
{
    position: absolute;
    bottom: 120px;
    float: left;
    height: 25px;
    width: 150px;
    padding: 5px;
    background-color: #4f4f4f;
    color: #f5f5f5;
    font-size: 20px;
    font-family: 'Share Tech', sans-serif;
    text-decoration: none;
    text-align: center;
    margin-left: 65px;
}
    .portfolio-link:hover
    {
        text-shadow: 0 0 5px #FF7F00;
        box-shadow: inset 2px 2px 1px black;
        background-color: #222222;
    }


.tag
{
    background-color: #313131;
    float: left;
    color: #dddddd;
    height: 19px;
    padding: 1px 3px;
    font-size: 16px;
    font-family: 'Share Tech', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.panel
{
    float: left;
    width: 910px;
    height: 530px;
    margin-left: 500px;
    padding: 30px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 15px 0px #444;
}
.panel-condensed, .screenshot-panel
{
    float: left;
    width: 910px;
    height: 530px;
    margin-left: 200px;
    padding: 30px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 15px 0px #444;
}

.current-project
{
    position: absolute;
    height: 30px;
    width: 150px;
    background-color: #FF7F00;
    margin-left: 115px;
    margin-top: -30px;
    color: black;
    text-shadow: 0px 0px 20px #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    line-height: 30px;
}
.current-project:before
{
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom:  30px solid #FF7F00;
    border-left: 20px solid transparent;
    border-right: 0px solid #FF7F00;
    position: absolute;
    top: -50px;
    left: -19px;
}
.current-project:after
{
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 30px solid #FF7F00;
    border-bottom: 50px solid transparent;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 0;
    right: -19px;
}

.image-panel
{
    position: relative;
    float: left;
    width: 570px;
}
    .hero-pic
    {
        height: 305px;
        width: 570px;
        /*border: solid 1px #999999;*/
        box-shadow: 2px 2px 7px 0px #444;
    }
    .sub-pic-left, .sub-pic-right
    {
        margin-top: 15px;
        height: 210px;
        width: 274px;
        /*border: solid 1px #999999;*/
        box-shadow: 2px 2px 7px 0px #444;
    }
    .sub-pic-right
    {    
        margin-left: 16px;
    }

.large-pic
{
    width: 910px;
    height: 530px;
}
    
.side-panel-top
{
    float: left;
    padding: 0px 15px;
    width: 290px;
    height: 400px;
    background-color: #dddcdc;
    margin-left: 20px;
}
.side-panel-bottom
{
    float: right;
    height: 100px;
    width: 310px;
    padding: 5px 5px 10px;
    background-color: #a2a2a2;
    margin-top: 20px;
}

.portfolio-panel
{
    height: 500px;
    width: 700px;
    background-color: #353535;
}

.address-icon
{
    float: left;
    margin-left: 20px;
}
.address-info
{
    float: left;
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: black;
    margin-left: 20px;
    margin-top: 15px;
}
.mail-icon
{
    float: left;
    clear: both;
    margin-left: 20px;
    margin-top: 20px;
}
.mail-info
{
    float: left;
    clear: right;
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: black;
    margin-top: 45px;
    margin-left: 20px;
}
.phone-icon
{
    float: left;
    clear: both;
    margin-left: 20px;
    margin-top: 20px;
}
.phone-info
{
    float: left;
    clear: right;
    font-family: 'Share Tech', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: black;
    margin-top: 45px;
    margin-left: 20px;
}

/* Scrollbar */
/*::-webkit-scrollbar 
{
     width: 10px;
     height: 2px;
     z-index: 6;
}
::-webkit-scrollbar:horizontal:hover 
{
  height: 2px; 
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  
{
    display: none;
}
::-webkit-scrollbar-track-piece  
{
    background-color: rgba(99, 99, 99,.5);
}
::-webkit-scrollbar-thumb:horizontal 
{
    background: black;
}*/

