/********************************
    Author  :   Jimmy Cleveland
    Site    :   Portfolio
   ____________________________
    
    Colors{
        Orange  : #FF7F00;
        NavGray : #1D1D1D;
    }      
********************************/

html, body{
    margin: 0;
    padding: 0px;
    background-image: url('images/Crosshatch 2.png');
    color: #555555;
    height: 100%;    
}
h1
{
    font-family: 'Share Tech', sans-serif;
    font-size: 36px;
    color: #7e7e7e;
    font-weight: normal;
    text-shadow: 2px 2px 3px #1c1c1c;
}
h2
{
    font-family: 'Share Tech', sans-serif;
    font-size: 26px;
    color: #7e7e7e;
    font-weight: normal;
    text-shadow: 2px 2px 3px #1c1c1c;
}
p
{
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #aaaaaa;
}

.header, .footer
{
    background-color: rgba(33, 33, 33, .85);
    height: 90px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 5;
}
.header
{
    width: 100%;
    border-bottom: 3px solid #FF7F00;
    top: 0;
}

.footer
{
    bottom: 0;
}

.nav-container
{
    position: relative;
}
.nav-links
{
    font-family: 'Share Tech', sans-serif;
    font-size: 26px;
    padding-top: 20px;
}
    .nav-links li
    {
        list-style-type: none;
        display: inline;
        margin-left: 50px;
        cursor: pointer;
    }
        .nav-links li:hover
        {
            color: #FF7F00;
            text-shadow: 0 0 5px #FF7F00;
        }
        .nav-links li.active
        {
            color:  #FF7F00;
        }
    .nav-links a
    {
        text-decoration: none;
        color: #727272;
    }
        .nav-links a:hover
        {
            color: #aaaaaa;
            text-shadow: 0 0 1px #ffffff;
        }

.breadcrumbs 
{
    font-family: 'Share Tech', sans-serif;
    font-size: 26px;
    padding-top: 20px;
}
    .breadcrumbs li
    {
        list-style-type: none;
        display: inline;
    }
    .breadcrumbs li.home
    {
        cursor: pointer;
        display: inline;
    }
    .breadcrumbs a
    {
        text-decoration: none;
        color: #727272;
    }
        .breadcrumbs a:hover
        {
            color: #aaaaaa;
            text-shadow: 0 0 1px #ffffff;
        }

#container
{
    position: fixed;
    top: 93px;
    bottom: 90px;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: normal;

}

.panel-wrapper
{
    position: absolute;
    left: 0;
    top: 50%;
    height: 530px;
    width: 7200px;
    margin-top: -295px;
}

.home-section, .portfolio-section, .contact-section
{
    float: left;
}
.home-section
{
   width: 390px;
   height: 530px;
   position: relative;
   float: left;
   padding: 30px 25px;
   background-color: #1c1c1c;
   border: solid black 1px;
   box-shadow: 0px 0px 15px 0px #000;
}
.portfolio-section
{
}
.contact-section
{
   width: 390px;
   height: 530px;
   position: relative;
   float: right;
   padding: 30px 25px;
   background-color: #1c1c1c;
   border: solid black 1px;
   margin-left:  400px;
   box-shadow: 0px 0px 15px 0px #000;
}

.portfolio-link
{
    float: left;
    height: 25px;
    width: 150px;
    padding: 5px;
    background-color: #1D1D1D;
    color: #d56c04;
    font-size: 20px;
    font-family: 'Share Tech', sans-serif;
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
    margin-left: 65px;
    margin-top: 10px;
}
    .portfolio-link:hover
    {
        text-shadow: 0 0 5px #FF7F00;
        box-shadow: inset 2px 2px 1px black;
        background-color: #222222;
    }


.tag
{
    background-color: #FF7F00;
    float: left;
    color: black;
    height: 19px;
    padding: 1px 3px;
    font-size: 16px;
    font-family: 'Share Tech', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.panel
{
    float: left;
    width: 910px;
    height: 530px;
    margin-left: 500px;
    padding: 30px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 15px 3px #000;
}
.panel-condensed
{
    float: left;
    width: 910px;
    height: 530px;
    margin-left: 200px;
    padding: 30px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 15px 3px #000;
}
.image-panel-large
{
    
}
.bottom-panel
{
    
}
.image-panel
{
    position: relative;
    float: left;
    width: 570px;
}
    .hero-pic
    {
        height: 305px;
        width: 570px;
    }
    .sub-pic-left, .sub-pic-right
    {
        margin-top: 15px;
        height: 210px;
        width: 275px;
    }
    .sub-pic-right
    {    
        margin-left: 16px;
    }
    
.side-panel-top
{
    float: left;
    padding: 0px 15px;
    width: 290px;
    height: 400px;
    background-color: #363636;
    margin-left: 20px;
}
.side-panel-bottom
{
    float: right;
    height: 100px;
    width: 310px;
    padding: 5px 5px 10px;
    background-color: #1F1F1F;
    margin-top: 20px;
}

.portfolio-panel
{
    height: 500px;
    width: 700px;
    background-color: #353535;
}

.address-icon
{
    float: left;
    margin-left: 20px;
}
.address-info
{
    float: left;
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #aaaaaa;
    margin-left: 20px;
    margin-top: 15px;
}
.mail-icon
{
    float: left;
    clear: both;
    margin-left: 20px;
    margin-top: 20px;
}
.mail-info
{
    float: left;
    clear: right;
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #aaaaaa;
    margin-top: 45px;
    margin-left: 20px;
}
.phone-icon
{
    float: left;
    clear: both;
    margin-left: 20px;
    margin-top: 20px;
}
.phone-info
{
    float: left;
    clear: right;
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #aaaaaa;
    margin-top: 45px;
    margin-left: 20px;
}

/* Scrollbar */
/*::-webkit-scrollbar 
{
     width: 10px;
     height: 10px;
     z-index: 6;
}
::-webkit-scrollbar:horizontal:hover 
{
  height: 2px; 
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  
{
    display: none;
}
::-webkit-scrollbar-track-piece  
{
    background-color: rgba(99, 99, 99,.5);
}
::-webkit-scrollbar-thumb:horizontal 
{
    background: #FF7F00;
}*/
